.sliderContainer {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 70px;
  }
  
  .slider {
    display: flex;
    gap: 20px;
    animation: slide 15s linear infinite;
  }
  
  .slider img {
    width: 516px;
    height: 360px;
    object-fit: cover;
    border-radius: 44px;
    aspect-ratio: 516/360;  /* соотношение сторон как на макете */
    max-height: 360px;     /* ограничиваем максимальную высоту */
  }
  
  /* Анимация для слайдера */
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  