.sliderContainer {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 100px;
  }
  
  .slider {
    display: flex;
    gap: 20px;
    animation: slide 15s linear infinite;
  }
  
  .slider img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Анимация для слайдера */
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  