.mainContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  height: 63vh;
  margin: 0;
  padding: 0;
  background-image: url('/violet-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-top: 0px;
  
  position: relative;
  box-sizing: border-box;
}

.mainSection {
  grid-row: 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 0 40px;
  width: 100%;
  box-sizing: border-box;
}

.leftColumn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 40px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;

}

.middleColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.contentWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.gecko {
  position: absolute;
  z-index: 2;
  width: 298.59px;
  height: 444.82px;
  
  left: 50%;
  transform: translateX(-50%);
}

.tasksBackground {
  position: absolute;
  z-index: 1;
  width: 685px;
  height: 496px;
  transform: translateY(50%); /* Начальная позиция ниже */
  transition: transform 0.3s ease-out;
  object-fit: contain;
  right: calc(50% - 298.59px / 2 - 580px);
}

.svgImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textContent {
  max-width: 460px;
  max-height: 432px;
  margin-right: calc(298.59px - 55%);
  margin-top: -150px;
}

.bottomText {
  grid-row: 3;
  grid-column: 1 / -1;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
}


@keyframes typeCharacter {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.textWrapper {
  display: inline-block;
}

.character {
  display: inline-block;
  opacity: 0;
}

.character.visible {
  animation: typeCharacter 0.05s forwards;
}

.title {
  color: white;
  font-size: 56px;
  line-height: 64px;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

.description {
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0;
  font-family: 'Manrope', sans-serif;
}

