.textContainer {
    display: grid;
    grid-template-rows: auto 1fr; /* Первая строка для текста, вторая для остального */
    justify-items: center; /* Выравнивание по центру по горизонтали */
    align-items: start; /* Выравнивание по вертикали */
    text-align: center;
    margin-top: 5%; /* Отступ сверху */
    width: 100%;
    height: 10%; /* Устанавливает высоту контейнера */
    z-index: 5;
    position: relative;
}


  