.card {
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 0px;
    margin-top: 0px;
    
  
  }
  
  .cardText1 {
    width:100%;
    height:100%;
    align-items: end;
    justify-items: end;
    
    position:absolute;
    z-index: 10;
  }
  

  .cardText2 {
    width:100%;
    height:100%;
    align-items: end;
    justify-items: end;
    position: relative;
    z-index: 5;
  }