.card{
  width: 100%;
  justify-items: center;
  align-items: center;
  height: 690px;


}

.cardText1{
  justify-items: center;
  align-items: center;
 
  display: grid;
  margin-top: 500px;


}
.cardText2{
  justify-items:center;
  align-items: center;
  
  display: grid;
  margin-top: 800px;


}