.card {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cardContent {
  position: relative;
  width: 500px;
  height: 600px;
}

.mainImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.cardOverlay {
  position: absolute;
  width: 334px; /* Размер из Figma */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0 0 44px rgba(255, 132, 0, 0.5);
  border-radius: 12px;
  background: linear-gradient(90deg, #FFA400 0%, #FF5C00 100%);
}

.cardOverlay img {
  width: 100%;
  height: auto;
  object-fit: contain;
}