.mainContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    gap: 0px;
    height: fit-content;
    width: 100%;
    background: linear-gradient( #000000);
    padding: 0px;
    color: white;
  }
