.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8%;
    position: relative;
    z-index: 10;
    right: 1%;
    margin-top: 2%;
  }
  
  .button3 {
    
    
    font-size: 18px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* .button:hover {
    transform: scale(1.05);
  } */
  .button:hover{
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    filter: brightness(0.9);
  }

  .buttonImage{
    width: 120%;
    

    
  }

  @media (max-width: 800px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 25%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 1000%;
      
  
      
    }





  }

  @media (max-width: 700px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 20%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 800%;
      
  
      
    }





  }


  @media (max-width: 770px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 20%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 800%;
      
  
      
    }





  }

  @media (max-width: 750px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 20%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 800%;
      
  
      
    }





  }

  @media (max-width: 720px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 20%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 800%;
      
  
      
    }





  }


  @media (max-width: 690px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 20%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 800%;
      
  
      
    }





  }


  @media (max-width: 670px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 20%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 800%;
      
  
      
    }





  }

  @media (max-width: 650px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 20%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 800%;
      
  
      
    }





  }


  @media (max-width: 630px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 20%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 800%;
      
  
      
    }





  }


  @media (max-width: 610px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 20%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 800%;
      
  
      
    }





  }

  @media (max-width: 590px) {
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -8%;
      position: relative;
      z-index: 10;
      right: 20%;
      margin-top: 25%;
    }
    
    .buttonImage{
      width: 800%;
      
  
      
    }





  }