.mainContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 1100px;
    width: 100%;
    background-image: url('/dark-blue-bg.png'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Масштабировать изображение, чтобы оно покрывало весь блок */
    background-position: center; /* Центрировать изображение */
    background-repeat: no-repeat; /* Избежать повторения изображения */
  }
  

  
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding: 0 20rem;
    height: 0vh;
}
  