.mainContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url('/dark-blue-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Две равные колонки */
  max-width: 1440px; /* Максимальная ширина контейнера */
  margin: 0 auto;
  height: 100vh;
  padding: 0 20px;
}
  